*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html { font-size: 62.5% }

body {
    font-size: 16px;
    font-size: 1.6rem;
    background-color: #fafafa;
    color: #353537;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
}

figure { margin: 0 }

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after { clear: both }

.loading {
    height: 32px;
    left: 50%;
    margin: -16px 0 0 -16px;
    position: absolute;
    top: 50%;
    width: 32px
}

.error { text-align: center }

.portfolio-header {
    padding: 50px 0;
    padding: 5rem 0;
    background-color: #303746;
    text-align: center;
}

.portfolio-header .profile-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.portfolio-header .profile-name {
    font-size: 24px;
    font-size: 2.4rem;
    margin-bottom: 10px;
    margin-bottom: 1rem;
    color: #e0e0e0;
    font-family: 'Cantata One', Georgia, Times, serif;
    font-weight: 400;
}

.portfolio-header .profile-fields {
    max-width: 320px;
    max-width: 32rem;
    font-size: 14px;
    font-size: 1.4rem;
    color: #aeb6c7;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-header .profile-fields .field-list { padding: 0 }

.portfolio-header .profile-fields .field-item {
    display: inline-block;
    margin-right: 5px
}

.portfolio-header .profile-fields .field-item:after { content: ',' }

.portfolio-header .profile-fields .field-item:last-child:after { content: '' }

.portfolio-header .profile-location {
    font-size: 14px;
    font-size: 1.4rem;
    color: #717f9e;
}

.portfolio-header .profile-location:before {
    margin-right: 10px;
    margin-right: 1rem;
    font-size: 18px;
    font-size: 1.8rem;
}

.portfolio-area {
    margin: 50px auto;
    margin: 5rem auto;
    max-width: 960px;
    max-width: 96rem;
    width: 100%;
}

.portfolio-area .portfolio-list { padding-left: 0 }

.portfolio-area .portfolio-item {
    margin-bottom: 30px;
    margin-bottom: 3rem;
    height: 320px;
    height: 32rem;
    padding: 0 15px;
    padding: 0 1.5rem;
    float: left;
    list-style-type: none;
    width: 33.33333333333333%;
}

.portfolio-area .portfolio-content { text-align: center }

.portfolio-area .portfolio-image {
    border: 8px solid #fff;
    max-width: 100%;
}

.portfolio-area .portfolio-cover {
    width: 100%;
}

.portfolio-area .portfolio-title {
    font-size: 14px;
    font-size: 1.4rem;
    color: #557682;
    text-transform: capitalize;
    vertical-align: middle;
    width: 100%;
}

.portfolio-area .portfolio-fields {
    font-size: 12px;
    font-size: 1.2rem;
    color: #aeaeae;
}

.portfolio-area .portfolio-fields .field-list { padding: 0 }

.portfolio-area .portfolio-fields .field-item {
    display: inline-block;
    padding-right: 5px
}

.portfolio-area .portfolio-fields .field-item:after { content: ',' }

.portfolio-area .portfolio-fields .field-item:last-child:after { content: '' }

.portfolio-footer {
    margin: 30px auto;
    margin: 3rem auto;
    max-width: 960px;
    max-width: 96rem;
    text-align: center;
    width: 100%;
}

.portfolio-footer .power-by {
    font-size: 12px;
    font-size: 1.2rem;
    color: #aeaeae;
    text-transform: uppercase;
}

.portfolio-footer .power-logo {
    width: 36px;
    width: 3.6rem;
    height: 36px;
    height: 3.6rem;
    color: #1769ff;
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
}

.portfolio-footer .power-logo:before {
    line-height: 38px;
    line-height: 3.8rem;
    font-size: 36px;
    font-size: 3.6rem;
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    text-indent: 0;
    top: 0;
    width: 100%;
}

/* Media Queries */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .portfolio-area .portfolio-item {
        width: 50%;
    }
}
@media only screen and (max-width: 767px) {
    .portfolio-area .portfolio-item {
        height: auto;
        width: 100%;
    }
}
